{% extends 'base.html.twig' %}

{% block title %}Hello ActionController!{% endblock %}

{% block body %}

  <!-- Plans -->
    <section class="plans d-flex align-items-center py-5" id="plans">
        <div class="container text-light" >
            <div class="text-center pb-4">
                <p>OUR PLANS</p>
                <h2 class="py-2">Explore unlimited possibilities</h2>
                <p class="para-light">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae asperiores, quia accusantium sunt corporis optio recusandae? Nostrum libero pariatur cumque, ipsa dolores voluptatibus voluptate alias sit fuga. Itaque, ea quo.</p>
            </div>

                {{dump(categories)}}
            {# <p class="py-3">{{categories.name}}</p> #}
                {# <p>{{categories.description}}</p> #}
            <div class="row gy-4" >
              
                    {# {% set img = categories.actions %} #}
                    
                    {% for action in actions %}
                        
                    
                <div class="col-lg-4">
                    <div class="card bg-transparent px-4">
                        <h4 class="py-2">BASIC BUNDLE</h4>
                        <p class="py-3">{{action.title}}</p>
                        <div class="block d-flex align-items-center">
                            {# <img src="{{img.file}}</" altS=""> #}
                            <p class="pe-2"><i class="far fa-check-circle fa-1x"></i></p>
                            {# <p>{{action.file}}</p> #}
                        </div>
                        <div class="block d-flex align-items-center">
                            <p class="pe-2"><i class="far fa-check-circle fa-1x"></i></p>
                            <p>Lorem ipsum dolor sit amet.</p>
                        </div>
                        <div class="block d-flex align-items-center">
                            <p class="pe-2"><i class="far fa-check-circle fa-1x"></i></p>
                            <p>Lorem ipsum dolor sit amet.</p>
                        </div>
                        <div class="block d-flex align-items-center">
                            <p class="pe-2"><i class="far fa-check-circle fa-1x"></i></p>
                            <p>Lorem ipsum dolor sit amet.</p>
                        </div>
                        <h4 class="py-3">$24/Month</h4>
                        <div class="my-3">
                            <a class="btn" href= >View Plans</a>
                        </div>
                    </div>  
                </div>
                {% endfor %}
              

                
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </section> <!-- end of plans -->
   {% endblock %}

