{% extends 'user.html.twig' %}

{% block title %}
Modification du profil de {{app.user.firstName}} {{app.user.lastName}}
{% endblock %}

{% block body %}


	<div class="grix xs4 container">
		<div class="col-xs4">
			<h1>Modification du profil de{{app.user.firstName}} {{app.user.lastName}}</div>
			</h1>
			<h1>{{form(form)}}</h1>
		</div>
	</div>
		

{% endblock %}
